html,
body {
  margin: 0px;
  padding: 0px;

  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313031;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'FFXIV';
  src: url('/src/assets/FFXIV_Lodestone_SSF.ttf') format('truetype'),
    url('/src/assets/FFXIV_Lodestone_SSF.woff') format('woff');
  unicode-range: U+E020-E0DB;
}